:root {
    --primary-color: #ffffff;
    --secondary-color: #86866e;
    --tertiary-color: #520d0d;
    --quaternary-color: #cacaa4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
    display: flex;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* Body */
body {
    color: var(--primary-color);
    background: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* All Section Titles*/
.section-title {
    font-size: 48px;
    color: var(--primary-color);
   /*  border-bottom: 3px solid; 
    padding-bottom: 20px; */
    text-align: center;
    margin: 35px auto 35px auto;
    width: 50%;
}
  
.primary-border {
    border-color: var(--primary-color);
}
  
.secondary-border {
    border-color: var(--tertiary-color);
}

/* Hero Style */
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
    position: relative;
    background-image: url("../images/flower.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero h1 {
    position: relative;
    text-align: center;
    margin: 3.5%;
    font-size: 55px;
    text-shadow: 0 0 30px var(--tertiary-color);
}

.hero-self {
    text-align: center;
    font-size: 18px;
}

.hero-self img {
    border-radius: 50%;
}
    
.hero-self h3 {
    font-style: italic;
    font-size: 25px;
    color: var(--primary-color);
    text-shadow: 0 0 30px var(--tertiary-color);
}
/* Goals */
.goal {
    margin: 50px 50px;
}
.goal ul {
    margin: 20px 100px;
}

/* Project Examples */
.flex-row {
    display: flex;
  }

.projects {

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    margin: 20px 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
    flex-basis: 500px;
}

.project p {
    font-size: 15px;
}

.project img {
    width: 100%;
}

.project h2 {
    font-size: 35px;
    line-height: 1.3;
}

.project h3 {
    font-size: 25px;
    line-height: 1.3;
}

.project:hover {
    flex-basis: 800px
} 

/* Education */
.organization {
    grid-area: org;
}

.degree-name {
    grid-area: deg;
}

.year-attended {
    grid-area: year;
}

.grade {
    grid-area: grade;
}

.msu-1 {
    grid-area: msu1;
}

.msu-1 a:link {
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: underline;
}

.msu-1 a:visited{
    color: var(--secondary-color);
    background-color: transparent;
    text-decoration: underline;
}

.msu-1 a:hover{
    color:var(--quaternary-color);
    background-color: transparent;
    text-decoration: none;
}

.msu-1 a:active{
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: underline;
}

.msu-2 {
    grid-area: msu2;
}

.msu-3 {
    grid-area: msu3;
}

.msu-4 {
    grid-area: msu4;
}

.pmi-1 {
    grid-area: pmi1;
}

.pmi-1 a:link {
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: underline;
}

.pmi-1 a:visited{
    color: var(--secondary-color);
    background-color: transparent;
    text-decoration: underline;
}

.pmi-1 a:hover{
    color:var(--quaternary-color);
    background-color: transparent;
    text-decoration: none;
}

.pmi-1 a:active{
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: underline;
}

.pmi-2 {
    grid-area: pmi2;
}

.pmi-3 {
    grid-area: pmi3;
}

.pmi-4 {
    grid-area: pmi4;
}

.wal-1 {
    grid-area: wal1;
}

.wal-1 a:link {
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: underline;
}

.wal-1 a:visited{
    color: var(--secondary-color);
    background-color: transparent;
    text-decoration: underline;
}

.wal-1 a:hover{
    color:var(--quaternary-color);
    background-color: transparent;
    text-decoration: none;
}

.wal-1 a:active{
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: underline;
}

.wal-2 {
    grid-area: wal2;
}

.wal-3 {
    grid-area: wal3;
}

.wal-4 {
    grid-area: wal4;
}

.wmu-1 {
    grid-area: wmu1;
}

.wmu-1 a:link {
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: underline;
}

.wmu-1 a:visited{
    color: var(--secondary-color);
    background-color: transparent;
    text-decoration: underline;
}

.wmu-1 a:hover{
    color:var(--quaternary-color);
    background-color: transparent;
    text-decoration: none;
}

.wmu-1 a:active{
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: underline;
}

.wmu-2 {
    grid-area: wmu2;
}

.wmu-3 {
    grid-area: wmu3;
}

.wmu-4 {
    grid-area: wmu4;
}
.education-items {
    display: grid;
    padding: 75px;
    grid-auto-rows: 75px;
    grid-auto-columns: 200px;
    /* grid-template-columns: repeat(auto-fit, 286px);
    grid-template-rows: repeat(4 30fr);
    align-items: center; /* left and right */
    justify-content: center; /* up and down */
    grid-template-areas: 
        "org deg year grade"
        "msu1 msu2 msu3 msu4"
        "pmi1 pmi2 pmi3 pmi4"
        "wal1 wal2 wal3 wal4"
        "wmu1 wmu2 wmu3 wmu4";
}

/* Experience */
.job {
    padding: 15px 100px;
}

.job-title {
    font-size: 30px;
}
.company {
    font-size: 25px;
}
.address {
    font-size: 15px;
    font-style: italic;
}
.dates-emp {
    font-style: italic;
    text-align: right;
}
.description {
    font-size: 15px;
}

.achievements ul {
    list-style: none;
    line-height: 1.5;
}

.achievements li::before  {
    content: "•"; 
    color: var(--primary-color);
}


/* Contact */
.contact {
    text-align: center;
    background-image: url("../images/phone-booth.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Footer */
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

footer h2 {
    color: var(--tertiary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
    color: var(--tertiary-color);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header nav ul li a {
        font-size: 30px;
    }

    .hero {
        background-size: cover;
        background-position: top 10%;
        background-attachment: scroll;
    }  

    .project {
        flex-basis: 80%;
        justify-content: space-evenly;
    }

    .project h2 {
        font-size: 40px;
    }
    
    .project h3 {
        font-size: 30px;
    }

    .project p {
        font-size: 20px;
    }
}

  
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .education-items {
        padding: 50px;
        grid-auto-rows: 75px;
        grid-auto-columns: 175px;
    }

    header nav ul li a {
        padding: 5px 5px;
        font-size: 20px;
    }

    header nav ul {
        justify-content: center;
        padding: 30 30;

    }
}
   
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media only screen and (max-width: 575px) {
    .education-items {
        grid-auto-rows: 100px;
        grid-auto-columns: 100px;
        word-wrap:break-word
    }


}
    
